<!DOCTYPE html>
<html>
    <head>
        <title>
            Message.io
        </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/material.css" type="text/css" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
    </head>
    <body ng-app="app" ng-controller="socketController as socke">
        <script type="text/javascript" src="/js/depend/jquery.min.js"></script>
        <script type="text/javascript" src="/js/depend/angular.min.js"></script>
        <script type="text/javascript" src="/js/depend/socket.min.js"></script>
        <script type="text/javascript" src="/js/depend/socket.io.js"></script>
        <script type="text/javascript" src="/js/material.js"></script>
        <script type="text/javascript" src="/js/app.sockets.js"></script>
        <script type="text/javascript" src="/js/app.jquery.js"></script>
        <script type="text/javascript" src="/js/app.socketController.js"></script>
        <script type="text/javascript" src="/js/app.loginController.js"></script>
        <script type="text/javascript" src="/js/app.postController.js"></script>
        <script type="text/javascript" src="/js/app.messageController.js"></script>
        <script type="text/javascript" src="/js/app.angular.js"></script>
        <div id="not">
            <div id="Err">This is an Err preview</div>
            <div id="Info"></div>
        </div>
        <div class="top" ng-hide="auth">
        	Message.io
        </div>
        <div class="top" ng-controller="userController as use" ng-show="auth">
			<button class="iconButton hamburger" id="menuButton"></button>
			{{user.name}} @{{user.username}}
			<div id="newPostButton">+</div>
			&emsp;
			<div class="topRight">
			</div>
		</div>
		<form id="newPost" ng-controller="postController as post" ng-submit="post.request(post.username)">
			<br><div style="margin-left: auto;margin-right:auto;width:30%;"><input type="text" style="color:black;text-align:center"placeholder="Username" ng-model="post.username"></div><br>
		</form>
		<div id="shadow"></div>
		<div id="sideNav" ng-controller="loginController as log">
			<ul>
				<li ng-click="log.logout()"><img src="icons/logout.png" class="notInline">&emsp;Logout</li>
			</ul>
		</div>
		<div id="sure" ng-controller="postController as post">
			<p>Are You sure?</p>
			<span ng-click="post.delet()">Yes</span>&emsp;<span class="no">No</span>
		</div>
		<div class="login" ng-hide="auth" ng-controller="loginController as log">
			<div class="login-screen">
				<div class="app-title">
					<h1><span ng-hide="signUp">Login</span><span ng-show="signUp">Register</span></h1>
				</div>
				<form ng-hide="signUp" nclass="login-form" ng-submit="log.login(log.temp.email, log.temp.pass)">
					<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" id="login-email" ng-model="log.temp.email">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
	
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" id="login-pass" ng-model="log.temp.pass">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<input type="submit" class="btn btn-primary btn-large btn-block" value="login">
				</form>
				<form ng-show="signUp" ng-submit="log.signUp(log.temp.sUser, log.temp.sName, log.temp.sEmail, log.temp.sPass, log.temp.sCpass)">
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" id="login-sEmail" ng-model="log.temp.sEmail">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="name" id="login-sName" ng-model="log.temp.sName">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" id="login-sUser" ng-model="log.temp.sUser">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
					
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" id="login-sPass" ng-model="log.temp.sPass">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
					
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="confirm password" id="login-sCpass" ng-model="log.temp.sCpass">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	<input type="submit" class="btn btn-primary btn-large btn-block" value="Register">
            	</form><br>
				<span style="color: blue;cursor: pointer;text-align: center" ng-click="log.toggleSign()">
					<span ng-show="signUp">Login</span>
					<span ng-hide="signUp">Register</span>
				</span>
				<a class="login-link" href="#">Lost your password?</a><br>
			</div>
		</div>
		<div class="posts" ng-show="page == 'home'" style="margin-bottom: 100px">
			<div class="post post-header" ng-show="convs.length == 0" style="font-size: 16pt">
				<h3>Conversations</h3>
				<p>To make a conversation click on the yellow plus button and type in the username</p><br>
				<h3>Multi user Conversations</h3>
				<p>To make a multi user conversation, type in the usernames seperated by a comma</p>
			</div>
			<div class="post" ng-repeat="conv in convs" ng-controller = "messageController as mess">
				<div style="cursor: pointer" class="post-options" ng-controller="postController as post">
						<span ng-hide="conv.valid" style="color: red">Pending&emsp;</span>
						<span ng-show="conv.canValidate" ng-click="post.validate(rs.user._id, conv._id)">Validate&emsp;</span>
						<span ng-show="conv.canValidate" ng-click="post.reject(rs.user._id, conv._id)")>Reject&emsp;</span>
						<span ng-show="conv.valid" ng-click="post.sure('conv', conv._id)" style="cursor: pointer">Delete&emsp;</span>
				</div>
				<div ng-hide="conv.multi" class="one2one">
					<div class="post-header" ng-click="mess.getMessages(conv._id)">
						{{conv.users[conv.other].name}} @{{conv.users[conv.other].username}}
					</div>
				</div>
				<div ng-repeat="us in conv.users" ng-show="conv.multi" ng-click="mess.getMessages(conv._id)">
				{{us.name}} @{{us.username}}
				</div><br>
				<div class="post-body" ng-controller="messageController as mess" ng-show="currentConv == conv._id">
					<div class="message" ng-repeat="message in messages track by $index" ng-style="message.style">
						<i>@{{message.username}}:</i> <br>
						<div class="post-content">{{message.content}}</div>
					</div>
				</div>
				<form ng-submit="mess.newMess(mess.temp, conv._id)" ng-show="currentConv == conv._id">
						<input type="text" placeholder="message" ng-model="mess.temp"/>
				</form>
			</div>
		</div>
    </body>
</html>